:root {
  --first-color: #dcd2ff;
  --second-color: #cfbaf0;
  --third-color: #f1c0e8;
  --fourth-color: #ffcfd2;
  --fifth-color: #fde4cf;
  --sixth-color: #fbf8cc;
  --light-color: #ffffff;
  --dark-color: rgb(40, 26, 60);
}

nav {
  background-color: var(--first-color);
  font-family: "Abril Fatface";
}

nav a {
  color: var(--dark-color);
  font-size: 3em;
  text-decoration: none;
}

.navbar-brand {
  margin: 0em 0.5em;
}

.resumé-link {
  padding: 3em;
  margin: 0em 0.5em;
  outline-style: auto;
}

.col-md-6{
  height: 80vh;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  background-color: var(--second-color);
  color: var(--dark-color);
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 100%;
}

.hero-text{
  margin:auto;
}

.hero-text h1 {
  font-size: 4em;
  font-family: "Abril Fatface";
  text-align: center;
}

.hero-text h2 {
  font-size: 3em;
  font-family: "Abril Fatface";
  text-align: center;
}
.hero-text h4 {
  font-size: 2.5em;
  font-family: "Abril Fatface";
  text-align: center;
}
.hero-text p {
  font-size: 1.5em;
  font-family: "Poppins";
  color: var(--dark-color);
  text-align: center;
}

.hero-text button {
  font-size: 1.5em;
  background-color: var(--sixth-color);
  border-radius: 10px;
  padding: 0.1em;
  width: 40vw;
  margin: 2rem;
}

.hero-fig {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: var(--sixth-color);
  height: 100%;
  min-width: 100%;
}

.hero-image-container {
  margin: 0;
  padding: 0;
}

.hero-image-container img {
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.about-me {
  background-color: var(--fifth-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding: 0;
  height: 100%;
  min-width: 100%;
}

.about-me-text{
  margin:auto;
}

.about-me h2 {
  font-family: "Abril Fatface";
  padding: 0.5em;
  font-size: 3em;
}

.about-me p {
  font-family: "Poppins";
  padding: 1em;
  font-size: 1.3em;

}

.skills-container {
  background-color: var(--third-color);
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 100%;
}

.skills-container h2 {
 font-family: "Abril Fatface";
 margin: auto;
  padding: 0.5em;
  font-size: 3em;
}


.skills-container ul {
  margin: 1rem;
  padding: 3rem;
}

.skills-container li {
  list-style-type: none;
}

.fa-html5 {
  position: absolute;
  top: 25%;
  left: 15%;
}

.fa-css3-alt {
  position: absolute;
  top: 25%;
  left: 35%;
}
.fa-square-js {
  position: absolute;
  top: 25%;
  left: 55%;
}
.fa-react {
  position: absolute;
  top: 25%;
  left: 75%;
}
.fa-elementor {
  position: absolute;
  top: 50%;
  left: 5%;
}
.fa-wordpress-simple {
  position: absolute;
  top: 50%;
  left: 25%;
}
.fa-bootstrap {
  position: absolute;
  top: 50%;
  left: 45%;
}
.fa-npm {
  position: absolute;
  top: 50%;
  left: 65%;
}
.fa-git-alt {
  position: absolute;
  top: 50%;
  left: 85%;
}
.fa-terminal {
  position: absolute;
  top: 75%;
  left: 15%;
}
.fa-figma {
  position: absolute;
  top: 75%;
  left: 35%;
}
.fa-node {
  position: absolute;
  top: 75%;
  left: 55%;
}
li .fa-github {
  position: absolute;
  top: 75%;
  left: 75%;
}

.card {
  min-height: 15rem;
}

.dictionary .card-body {
  background-color: var(--second-color);
  color: var(--dark-color);
}

.dictionary .btn {
  background-color: var(--second-color);
  border-color: var(--dark-color);
  color: var(--dark-color);
}

.hairday-salon .card-body {
  background-color: var(--second-color);
  color: var(--dark-color);
}

.hairday-salon .btn {
  background-color: var(--second-color);
  border-color: var(--dark-color);
  color: var(--dark-color);
}
.weather-app .card-body {
  background-color: var(--second-color);
  color: var(--dark-color);
}

.weather-app .btn {
  background-color: var(--second-color);
  border-color: var(--dark-color);
  color: var(--dark-color);
}
.plain-portfolio .card-body {
  background-color: var(--second-color);
  color: var(--dark-color);
}

.plain-portfolio .btn {
  background-color: var(--second-color);
  border-color: var(--dark-color);
  color: var(--dark-color);
}
.little-lemon .card-body {
  background-color: var(--fourth-color);
  color: var(--dark-color);
}

.little-lemon .btn {
  background-color: var(--fourth-color);
  border-color: var(--dark-color);
  color: var(--dark-color);
}
.bakery .card-body {
  background-color: var(--fourth-color);
  color: var(--dark-color);
}

.bakery .btn {
  background-color: var(--fourth-color);
  border-color: var(--dark-color);
  color: var(--dark-color);
}

.d3Arch .card-body {
  background-color: var(--sixth-color);
  color: var(--dark-color);
}

.d3Arch .btn {
  background-color: var(--sixth-color);
  border-color: var(--dark-color);
  color: var(--dark-color);
}

.Crepe-Suzette .card-body {
  background-color: var(--sixth-color);
  color: var(--dark-color);
}

.Crepe-Suzette .btn {
  background-color: var(--sixth-color);
  border-color: var(--dark-color);
  color: var(--dark-color);
}

footer {
  color: var(--fifth-color);
  height: 10vh;
  display: flex;
  background-color: var(--first-color);
  justify-content: center;
  align-items: center;
}

footer a {
  color: var(--dark-color);
  width: 10%;
  height: 10%;
  padding: 1em;
  margin: 1em;
}

@media screen and (min-width: 600px) {



  .projects {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
